NEXT_PUBLIC_SITE_URL=https://endpnt.dev
NEXT_PUBLIC_SCREENSHOT_URL=https://screenshot.endpnt.dev
NEXT_PUBLIC_QR_URL=https://qr.endpnt.dev
NEXT_PUBLIC_PREVIEW_URL=https://preview.endpnt.dev
NEXT_PUBLIC_CONVERT_URL=https://convert.endpnt.dev
NEXT_PUBLIC_VALIDATE_URL=https://validate.endpnt.dev